@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #2ba84a;
    --secondary-color: #e0e0e0;
    --accent1-color: #0b0b09;
    --accent2-color: #3c2f9d;

    --heading-font: 'Reddit Sans', sans-serif;
    --paragraph-font: 'Reddit Sans', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

p {
    line-height: 1.5;
    color: var(--primary-color);
}


header {
    background-color: var(--secondary-color);
    padding: 20px;
}

header img {
    width: 300px;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 20px;
}

footer {
    background-color: var(--secondary-color);
    padding: 20px;
}

footer p {
    color: var(--primary-color);
}

footer a {
    text-decoration: none;
}


.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    font-size: 80px;
    
}

.hero article p {
    color: #fff;
    font-size: 18px;
    line-height: 2.6;
    margin-top: 200px;
    margin-left: 200px;
    text-align: center;
    width: 50%;
    background-color: rgba(0, 82, 41, 0.384);
}

.hero article {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    max-width: 1600px;
    width: 90%;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
}

.hero article img {
    position: absolute;
    top: 300%;
    right: 50px;
    transform: translate(0, -50%);
    max-height: 500px;
    max-width: 500px;
}

section img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}